@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
   }

body {
    font-family: Raleway;
    max-width: 1400px;
    margin: auto;
    padding: 0 30px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}



/* HEADER */



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
.headerLogo {
    width: 61px;
}
.headerNav {
    display: flex;
    margin: 0;
    align-self: flex-start;
}
.headerLink {
    font-weight: 400;
    padding: 50px 30px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.headerLink:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC; 
}



/* SEARCH SECTION */



.search {
    display: flex;
    flex-direction: column;
}
.search >h1 {
    font-weight: 700;
    font-size: 22px;
}
.search >p {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.searchForm {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 50px;
    margin: 20px 0 ;
}
.searchFormLocationIcon {
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 15px;
    font-size: 20px;
}
.searchFormInput {
    border: 1px solid #F2F2F2;
    width: 240px;
    padding: 0 15px 0 15px
}
.searchFormInput::placeholder {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
.searchFormButton {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    border: none;
    cursor: pointer;
}
.searchFormButtonText {
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.fa-magnifying-glass {
    font-size: 18px;
    color: white;
}
.searchFormButtonIcon {
    display: none;
}



/* FILTERS SECTION */



.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}
.filtersTitle {
    display:inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    justify-self: flex-start;
}
.filtersWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}
.filtersButton {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    background-color: #ffffff;
    height: 48px;
    border: 2px solid #D9D9D9;
    padding: 4px 20px;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.filtersButton:hover {
    background-color: #DEEBFF;
}
.filtersButtonIcon {
    font-size: 22px;
    color: #0065FC;
}
.filtersButtonText {
    padding: 10px 0 10px 10px;
    font-weight: 700;
}
.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.infobarIconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #D9D9D9 solid;
    min-height: 24px;
    min-width: 24px;
    margin-right: 10px;
    border-radius: 100%;
}
.infobarIcon {
    color: #0065FC;
    font-size:x-small;
}
.infobarText {
    font-weight: 400;
    font-size: 16px;
}



/* OFFERS SECTION */



.offers {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
}
.offers h2 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}
.offers h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.offers p {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}
.offers .fa-star {
    font-size: 12px;
    color: #0065FC;
}
.fa-star.grey {
    color: #F2F2F2;
}
.rating {
    display: flex;
    flex-direction: row;
}




/* MAIN SECTION */




.mainOffers {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 100%;
    min-height: 626px;
    height: fit-content;
    border-radius: 20px;
    padding: 40px;
}
.mainOffersWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    gap: 30px;
}
.mainOffersCard {
    display: flex;
    flex-direction: column;
    min-width: 246px;
    height: 199px;
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1;
}
.mainOffersCard:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}
.mainOffersCard img {
    height: 124px;
    width: 100%;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.mainOffersCardCaption {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-left: 16px;
}
.mainOffersViewMore {
    display: block;
    font-weight: 700;
    font-size: 18px;
}



/* SPONSORED SECTION */



.sponsoredOffers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 420px;
    height: 626px;
    border-radius: 20px;
    padding: 40px;
}
.sponsoredOffers i {
    font-size: 18px;
    color:#0065FC;
}
.sponsoredOffers >header {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
}
.sponsoredOffersWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 30px 0 0 0;
}
.sponsoredOffersCard {
    display: flex;
    flex-direction: row;
    width: 343px;
    height: 144px;
    background-color: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.sponsoredOffersCardLink {
    display: flex;
}
.sponsoredOffersCard:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
}
.sponsoredOffersCard img {
    width: 137px;
    height: 100%;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.sponsoredOffersCardCaption {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 15px 12px 12px 15px;
}
.sponsoredOffersCardCaption >.rating {
    justify-self: flex-end;
    margin-top: auto;
}



/* ACTIVITIES SECTION */



.activities {
    display: flex;
    flex-direction: column;
    margin: 40px 0 60px 0;
}
.activities h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
}
.activitiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.activitiesCard {
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 445px;
    background-color: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activitiesCard:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
    cursor: pointer;
}
.activitiesCard img {
    height: 389px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.activitiesTitle {
    display: flex;
    padding: 5px 10px 5px 20px;
    height: 50px;
    align-items: center;
    margin: 0;
}
.activitiesCard h3 {
    font-weight: 700;
    font-size: 16px;
}



/* FOOTER */



footer {
    height: 220px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 45px;
}
.footerHeader {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
footer ul {
    width: 25%;
}
footer li {
    margin-bottom: 15px
}





/* TABLET >=768 px */





@media screen and (max-width: 991px)
{
    .offers {
        flex-direction: column;
    }
    .mainOffers {
        width: 100%;
        height: fit-content;
    }
    .mainOffersCard {
        flex: 1;
    }
    .sponsoredOffers {
        width: 100%;
        height: auto;
    }
    .sponsoredOffersWrap {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
    }
    .sponsoredOffersCard {
        flex: 1;
        max-width: 252px;
    }
    .sponsoredOffersCardCaption >p {
        font-size: 13px;
    }
    .sponsoredOffersCardCaption >h3 {
        font-size: 14px;
    }
    .activitiesContainer {
        height: 267px;
    }
    .activities a {
        height: 100%;
    }
    .activitiesCard {
        width: 182px;
        height: 267px;
        justify-content: flex-start;
    }
    .activitiesCard img {
        height: 211px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
}





/*   PHONE < 768px  */




@media screen and (max-width: 767px)
{
    body {
        padding: 0;
    }
    header {
        height: 110px;
        flex-direction: column;
        justify-content: center;
    }
    .headerLogo {
        width: 61px;
        margin: 30px;
    }
    .headerNav {
        width: 100%;
    }
    .headerLink {
        display: flex;
        height: 45px;
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .headerLink:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid #0065FC;
    }
    .search {
        padding: 0 20px;
    }
    .search >h1 {
        margin-top: 30px;
    }
    .searchForm {
        margin: 35px 0;
    }
    .searchFormButtonText {
        display: none;
    }
    .searchFormButtonIcon {
        display: block;
    }
    .filters {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .filtersTitle {
        align-self: flex-start;
        padding: 0;
        margin-bottom: 18px;
    }
    .filtersWrap {
        gap: 10px;
    }
    .filtersButton {
        width: 160px;
        filter: none;
        font-size: 11px;
        padding: 4px 15px; 
    }
    .filtersButtonIcon {
        font-size: 16px;
    }
    .offers {
        flex-direction: column-reverse;
    }
    .sponsoredOffers {
        border-radius: 0%;
        width: 100%;
        padding: 30px 20px 40px 20px;
    }
    .sponsoredOffersWrap {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .sponsoredOffersCard {
        max-width: 100%;
        min-height: 144px;
        max-height: 144px;
    }
    .mainOffers {
        padding: 0 20px;
        background-color: #FFFFFF;
        border-radius: 0%;
    }
    .activities {
        padding: 0 20px;
    }
    .activitiesContainer {
        flex-direction: column;
        gap: 20px;
        height: fit-content;
    }
    .activitiesCard {
        width: 100%;
        height: 190px;
    }
    .activitiesCard img {
        height: 134px;
    }
    footer {
        flex-direction: column;
        height: fit-content;
        padding: 45px 30px 0px 30px;
        border: 1px red solid;
    }
    footer ul {
        width: 100%;
        margin-bottom: 45px;
    }
}